eSAR/eSAR/Service References/SchoolYearServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
  <xs:element name="GetSY">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolyear" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetSYResult" nillable="true" type="q1:SchoolYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSY">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="schoolyear" nillable="true" type="q2:SchoolYear" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSYResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="schoolyear" nillable="true" type="q3:SchoolYear" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSY">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="schoolyear" nillable="true" type="q4:SchoolYear" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSYResult" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="schoolyear" nillable="true" type="q5:SchoolYear" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSY">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllSYResult" nillable="true" type="q6:ArrayOfSchoolYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSY">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolyear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSYResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>