eSAR/eSAR/Service References/SchoolYearServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchoolYearService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchoolYearService_GetSY_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSY" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_GetSY_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSYResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_CreateSY_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSY" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_CreateSY_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSYResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_UpdateSY_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSY" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_UpdateSY_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSYResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_GetAllSY_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSY" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_GetAllSY_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSYResponse" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_DeleteSY_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSY" />
  </wsdl:message>
  <wsdl:message name="ISchoolYearService_DeleteSY_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSYResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchoolYearService">
    <wsdl:operation name="GetSY">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolYearService/GetSY" message="tns:ISchoolYearService_GetSY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolYearService/GetSYResponse" message="tns:ISchoolYearService_GetSY_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSY">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolYearService/CreateSY" message="tns:ISchoolYearService_CreateSY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolYearService/CreateSYResponse" message="tns:ISchoolYearService_CreateSY_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSY">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolYearService/UpdateSY" message="tns:ISchoolYearService_UpdateSY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolYearService/UpdateSYResponse" message="tns:ISchoolYearService_UpdateSY_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSY">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolYearService/GetAllSY" message="tns:ISchoolYearService_GetAllSY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolYearService/GetAllSYResponse" message="tns:ISchoolYearService_GetAllSY_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSY">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchoolYearService/DeleteSY" message="tns:ISchoolYearService_DeleteSY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchoolYearService/DeleteSYResponse" message="tns:ISchoolYearService_DeleteSY_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchoolYearService" type="tns:ISchoolYearService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSY">
      <soap:operation soapAction="http://tempuri.org/ISchoolYearService/GetSY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSY">
      <soap:operation soapAction="http://tempuri.org/ISchoolYearService/CreateSY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSY">
      <soap:operation soapAction="http://tempuri.org/ISchoolYearService/UpdateSY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSY">
      <soap:operation soapAction="http://tempuri.org/ISchoolYearService/GetAllSY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSY">
      <soap:operation soapAction="http://tempuri.org/ISchoolYearService/DeleteSY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchoolYearService">
    <wsdl:port name="BasicHttpBinding_ISchoolYearService" binding="tns:BasicHttpBinding_ISchoolYearService">
      <soap:address location="http://localhost:8733/eSARService/SchoolYearService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>