eSAR/eSAR/Service References/LearningAreaServiceRef/eSARService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eSARService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eSARService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LearningArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="Academic" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LearningAreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatePerUnit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Subjects" nillable="true" type="tns:ArrayOfSubject" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LearningArea" nillable="true" type="tns:LearningArea" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LArea" nillable="true" type="tns:LearningArea" />
      <xs:element minOccurs="0" name="LearningAreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfLearningArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LearningArea" nillable="true" type="tns:LearningArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLearningArea" nillable="true" type="tns:ArrayOfLearningArea" />
</xs:schema>