eSAR/eSAR/Service References/LearningAreaServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LearningAreaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILearningAreaService_UpdateLearningArea_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLearningArea" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_UpdateLearningArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLearningAreaResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_CreateLearningArea_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLearningArea" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_CreateLearningArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLearningAreaResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_GetAllLearningAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLearningAreas" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_GetAllLearningAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLearningAreasResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_GetAllSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjects" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_GetAllSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_GetLearningArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLearningArea" />
  </wsdl:message>
  <wsdl:message name="ILearningAreaService_GetLearningArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLearningAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="ILearningAreaService">
    <wsdl:operation name="UpdateLearningArea">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningAreaService/UpdateLearningArea" message="tns:ILearningAreaService_UpdateLearningArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningAreaService/UpdateLearningAreaResponse" message="tns:ILearningAreaService_UpdateLearningArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLearningArea">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningAreaService/CreateLearningArea" message="tns:ILearningAreaService_CreateLearningArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningAreaService/CreateLearningAreaResponse" message="tns:ILearningAreaService_CreateLearningArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLearningAreas">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningAreaService/GetAllLearningAreas" message="tns:ILearningAreaService_GetAllLearningAreas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningAreaService/GetAllLearningAreasResponse" message="tns:ILearningAreaService_GetAllLearningAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningAreaService/GetAllSubjects" message="tns:ILearningAreaService_GetAllSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningAreaService/GetAllSubjectsResponse" message="tns:ILearningAreaService_GetAllSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLearningArea">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningAreaService/GetLearningArea" message="tns:ILearningAreaService_GetLearningArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningAreaService/GetLearningAreaResponse" message="tns:ILearningAreaService_GetLearningArea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILearningAreaService" type="tns:ILearningAreaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateLearningArea">
      <soap:operation soapAction="http://tempuri.org/ILearningAreaService/UpdateLearningArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLearningArea">
      <soap:operation soapAction="http://tempuri.org/ILearningAreaService/CreateLearningArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLearningAreas">
      <soap:operation soapAction="http://tempuri.org/ILearningAreaService/GetAllLearningAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjects">
      <soap:operation soapAction="http://tempuri.org/ILearningAreaService/GetAllSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLearningArea">
      <soap:operation soapAction="http://tempuri.org/ILearningAreaService/GetLearningArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LearningAreaService">
    <wsdl:port name="BasicHttpBinding_ILearningAreaService" binding="tns:BasicHttpBinding_ILearningAreaService">
      <soap:address location="http://localhost:8733/eSARService/LearningAreaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>