eSAR/eSAR/Service References/CurriculumServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurriculumService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurriculumService_GetAllGradeLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGradeLevels" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetAllGradeLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGradeLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_UpdateCurriculum_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCurriculum" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_UpdateCurriculum_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCurriculumResponse" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_CreateCurriculum_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCurriculum" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_CreateCurriculum_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCurriculumResponse" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetAllCurriculums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCurriculums" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetAllCurriculums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCurriculumsResponse" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetCurriculumSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurriculumSubjects" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetCurriculumSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurriculumSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetAllSubjectDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectDetails" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetAllSubjectDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetAllSubjectsOfGradeLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsOfGradeLevel" />
  </wsdl:message>
  <wsdl:message name="ICurriculumService_GetAllSubjectsOfGradeLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsOfGradeLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurriculumService">
    <wsdl:operation name="GetAllGradeLevels">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurriculumService/GetAllGradeLevels" message="tns:ICurriculumService_GetAllGradeLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurriculumService/GetAllGradeLevelsResponse" message="tns:ICurriculumService_GetAllGradeLevels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurriculum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurriculumService/UpdateCurriculum" message="tns:ICurriculumService_UpdateCurriculum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurriculumService/UpdateCurriculumResponse" message="tns:ICurriculumService_UpdateCurriculum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCurriculum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurriculumService/CreateCurriculum" message="tns:ICurriculumService_CreateCurriculum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurriculumService/CreateCurriculumResponse" message="tns:ICurriculumService_CreateCurriculum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCurriculums">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurriculumService/GetAllCurriculums" message="tns:ICurriculumService_GetAllCurriculums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurriculumService/GetAllCurriculumsResponse" message="tns:ICurriculumService_GetAllCurriculums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurriculumSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurriculumService/GetCurriculumSubjects" message="tns:ICurriculumService_GetCurriculumSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurriculumService/GetCurriculumSubjectsResponse" message="tns:ICurriculumService_GetCurriculumSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurriculumService/GetAllSubjectDetails" message="tns:ICurriculumService_GetAllSubjectDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurriculumService/GetAllSubjectDetailsResponse" message="tns:ICurriculumService_GetAllSubjectDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsOfGradeLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurriculumService/GetAllSubjectsOfGradeLevel" message="tns:ICurriculumService_GetAllSubjectsOfGradeLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurriculumService/GetAllSubjectsOfGradeLevelResponse" message="tns:ICurriculumService_GetAllSubjectsOfGradeLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurriculumService" type="tns:ICurriculumService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGradeLevels">
      <soap:operation soapAction="http://tempuri.org/ICurriculumService/GetAllGradeLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCurriculum">
      <soap:operation soapAction="http://tempuri.org/ICurriculumService/UpdateCurriculum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCurriculum">
      <soap:operation soapAction="http://tempuri.org/ICurriculumService/CreateCurriculum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCurriculums">
      <soap:operation soapAction="http://tempuri.org/ICurriculumService/GetAllCurriculums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurriculumSubjects">
      <soap:operation soapAction="http://tempuri.org/ICurriculumService/GetCurriculumSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectDetails">
      <soap:operation soapAction="http://tempuri.org/ICurriculumService/GetAllSubjectDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsOfGradeLevel">
      <soap:operation soapAction="http://tempuri.org/ICurriculumService/GetAllSubjectsOfGradeLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurriculumService">
    <wsdl:port name="BasicHttpBinding_ICurriculumService" binding="tns:BasicHttpBinding_ICurriculumService">
      <soap:address location="http://localhost:8733/eSARService/CurriculumService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>