eSAR/eSAR/Service References/CurriculumServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
  <xs:element name="GetAllGradeLevels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGradeLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllGradeLevelsResult" nillable="true" type="q1:ArrayOfGradeLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurriculum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="curriculum" nillable="true" type="q2:Curriculum" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurriculumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCurriculumResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="curriculum" nillable="true" type="q3:Curriculum" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCurriculum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="curriculum" nillable="true" type="q4:Curriculum" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCurriculumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCurriculumResult" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="curriculum" nillable="true" type="q5:Curriculum" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurriculums">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurriculumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllCurriculumsResult" nillable="true" type="q6:ArrayOfCurriculum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurriculumSubjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="curriculumCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurriculumSubjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetCurriculumSubjectsResult" nillable="true" type="q7:ArrayOfCurriculumSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllSubjectDetailsResult" nillable="true" type="q8:ArrayOfCurriculumSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectsOfGradeLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gradeLevel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubjectsOfGradeLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllSubjectsOfGradeLevelResult" nillable="true" type="q9:ArrayOfCurriculumSubject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>