eSAR/eSAR/Service References/TraitServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TraitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITraitService_GetAllTraits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTraits" />
  </wsdl:message>
  <wsdl:message name="ITraitService_GetAllTraits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTraitsResponse" />
  </wsdl:message>
  <wsdl:message name="ITraitService_GetAllTraitsOfGradeLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTraitsOfGradeLevel" />
  </wsdl:message>
  <wsdl:message name="ITraitService_GetAllTraitsOfGradeLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTraitsOfGradeLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ITraitService_CreateTrait_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTrait" />
  </wsdl:message>
  <wsdl:message name="ITraitService_CreateTrait_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTraitResponse" />
  </wsdl:message>
  <wsdl:message name="ITraitService_UpdateTrait_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrait" />
  </wsdl:message>
  <wsdl:message name="ITraitService_UpdateTrait_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTraitResponse" />
  </wsdl:message>
  <wsdl:portType name="ITraitService">
    <wsdl:operation name="GetAllTraits">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraitService/GetAllTraits" message="tns:ITraitService_GetAllTraits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraitService/GetAllTraitsResponse" message="tns:ITraitService_GetAllTraits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTraitsOfGradeLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraitService/GetAllTraitsOfGradeLevel" message="tns:ITraitService_GetAllTraitsOfGradeLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraitService/GetAllTraitsOfGradeLevelResponse" message="tns:ITraitService_GetAllTraitsOfGradeLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTrait">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraitService/CreateTrait" message="tns:ITraitService_CreateTrait_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraitService/CreateTraitResponse" message="tns:ITraitService_CreateTrait_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrait">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraitService/UpdateTrait" message="tns:ITraitService_UpdateTrait_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraitService/UpdateTraitResponse" message="tns:ITraitService_UpdateTrait_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITraitService" type="tns:ITraitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTraits">
      <soap:operation soapAction="http://tempuri.org/ITraitService/GetAllTraits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTraitsOfGradeLevel">
      <soap:operation soapAction="http://tempuri.org/ITraitService/GetAllTraitsOfGradeLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTrait">
      <soap:operation soapAction="http://tempuri.org/ITraitService/CreateTrait" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrait">
      <soap:operation soapAction="http://tempuri.org/ITraitService/UpdateTrait" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraitService">
    <wsdl:port name="BasicHttpBinding_ITraitService" binding="tns:BasicHttpBinding_ITraitService">
      <soap:address location="http://localhost:8733/eSARService/TraitService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>