eSAR/eSAR/Service References/StudentServiceRef/eSARService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eSARService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eSARService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Average" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BirthCertificate" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateAdmitted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dismissed" type="xs:boolean" />
      <xs:element minOccurs="0" name="FathersAverageYearlyIncome" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FathersEducation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FathersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FathersOccupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodMoral" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GradeLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Graduate" type="xs:boolean" />
      <xs:element minOccurs="0" name="GuardiansAverageYearlyIncome" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GuardiansName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuardiansOccupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeBarangay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeTownCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastSYAttendedDCFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MadrasahEnrolled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersAverageYearlyIncome" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MothersEducation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersMaidenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersOccupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBBarangay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBTownCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Religion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScholarshipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scholarships" nillable="true" type="tns:Scholarship" />
      <xs:element minOccurs="0" name="SchoolLastAttended" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Siblings" nillable="true" type="tns:ArrayOfSibling" />
      <xs:element minOccurs="0" name="StudentId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="Scholarship">
    <xs:sequence>
      <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deactivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Privilege" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScholarshipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scholarship" nillable="true" type="tns:Scholarship" />
  <xs:complexType name="ArrayOfSibling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sibling" nillable="true" type="tns:Sibling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSibling" nillable="true" type="tns:ArrayOfSibling" />
  <xs:complexType name="Sibling">
    <xs:sequence>
      <xs:element minOccurs="0" name="SiblingId" type="xs:int" />
      <xs:element minOccurs="0" name="SiblingStudentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sibling" nillable="true" type="tns:Sibling" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
</xs:schema>