eSAR/eSAR/Service References/StudentFeeServiceRef/eSARService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eSARService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eSARService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Fee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DateSet" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deactivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="FeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYImplemented" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fee" nillable="true" type="tns:Fee" />
  <xs:complexType name="ArrayOfFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fee" nillable="true" type="tns:Fee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFee" nillable="true" type="tns:ArrayOfFee" />
</xs:schema>