eSAR/eSAR/Service References/SubjectServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubjectService_GetAllSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjects" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_GetAllSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_GetAllSubjectsOfLearningArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsOfLearningArea" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_GetAllSubjectsOfLearningArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsOfLearningAreaResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_GetAllSubjectsOfGradeLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsOfGradeLevel" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_GetAllSubjectsOfGradeLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSubjectsOfGradeLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_GetSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubject" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_GetSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubjectResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubjectService">
    <wsdl:operation name="GetAllSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/GetAllSubjects" message="tns:ISubjectService_GetAllSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/GetAllSubjectsResponse" message="tns:ISubjectService_GetAllSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsOfLearningArea">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/GetAllSubjectsOfLearningArea" message="tns:ISubjectService_GetAllSubjectsOfLearningArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/GetAllSubjectsOfLearningAreaResponse" message="tns:ISubjectService_GetAllSubjectsOfLearningArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsOfGradeLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/GetAllSubjectsOfGradeLevel" message="tns:ISubjectService_GetAllSubjectsOfGradeLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/GetAllSubjectsOfGradeLevelResponse" message="tns:ISubjectService_GetAllSubjectsOfGradeLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/GetSubject" message="tns:ISubjectService_GetSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/GetSubjectResponse" message="tns:ISubjectService_GetSubject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubjectService" type="tns:ISubjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSubjects">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/GetAllSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsOfLearningArea">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/GetAllSubjectsOfLearningArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubjectsOfGradeLevel">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/GetAllSubjectsOfGradeLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubject">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/GetSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectService">
    <wsdl:port name="BasicHttpBinding_ISubjectService" binding="tns:BasicHttpBinding_ISubjectService">
      <soap:address location="http://localhost:8733/eSARService/SubjectService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>