eSAR/eSAR/Service References/TimeslotServiceRef/eSARService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eSARService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eSARService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Timeslot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Days" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deactivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlotCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStart" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timeslot" nillable="true" type="tns:Timeslot" />
  <xs:complexType name="ArrayOfTimeslot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Timeslot" nillable="true" type="tns:Timeslot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeslot" nillable="true" type="tns:ArrayOfTimeslot" />
</xs:schema>