eSAR/eSAR/Service References/ScholarshipServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
  <xs:element name="GetAllScholarships">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScholarshipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllScholarshipsResult" nillable="true" type="q1:ArrayOfScholarship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScholarship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarship" nillable="true" type="q2:Scholarship" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScholarshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateScholarshipResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarship" nillable="true" type="q3:Scholarship" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScholarshipDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarshipDiscount" nillable="true" type="q4:ScholarshipDiscount" />
        <xs:element minOccurs="0" name="scholarshipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScholarshipDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddScholarshipDiscountResult" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarshipDiscount" nillable="true" type="q5:ScholarshipDiscount" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScholarship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarship" nillable="true" type="q6:Scholarship" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScholarshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateScholarshipResult" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarship" nillable="true" type="q7:Scholarship" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScholarsOfScholarship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scholarshipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScholarsOfScholarshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllScholarsOfScholarshipResult" nillable="true" type="q8:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScholars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScholarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllScholarsResult" nillable="true" type="q9:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScholarshipDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scholarshipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScholarshipDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="GetAllScholarshipDiscountResult" nillable="true" type="q10:ArrayOfScholarshipDiscount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScholarshipDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scholarshipFeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scholarshipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScholarshipDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteScholarshipDiscountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScholarshipDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarshipDiscount" nillable="true" type="q11:ScholarshipDiscount" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScholarshipDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateScholarshipDiscountResult" type="xs:boolean" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eSARService" minOccurs="0" name="scholarshipDiscount" nillable="true" type="q12:ScholarshipDiscount" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>