eSAR/eSAR/Service References/BuildingServiceRef/eSARService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eSARService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eSARService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Building">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deactivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rooms" nillable="true" type="tns:ArrayOfRoom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Building" nillable="true" type="tns:Building" />
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Deactivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfBuilding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Building" nillable="true" type="tns:Building" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuilding" nillable="true" type="tns:ArrayOfBuilding" />
</xs:schema>