eSAR/eSAR/Service References/BuildingServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuildingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBuildingService_UpdateBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuilding" />
  </wsdl:message>
  <wsdl:message name="IBuildingService_UpdateBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="IBuildingService_CreateBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBuilding" />
  </wsdl:message>
  <wsdl:message name="IBuildingService_CreateBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="IBuildingService_GetAllBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBuildings" />
  </wsdl:message>
  <wsdl:message name="IBuildingService_GetAllBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="IBuildingService_GetAllRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRooms" />
  </wsdl:message>
  <wsdl:message name="IBuildingService_GetAllRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBuildingService">
    <wsdl:operation name="UpdateBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildingService/UpdateBuilding" message="tns:IBuildingService_UpdateBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildingService/UpdateBuildingResponse" message="tns:IBuildingService_UpdateBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildingService/CreateBuilding" message="tns:IBuildingService_CreateBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildingService/CreateBuildingResponse" message="tns:IBuildingService_CreateBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildingService/GetAllBuildings" message="tns:IBuildingService_GetAllBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildingService/GetAllBuildingsResponse" message="tns:IBuildingService_GetAllBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuildingService/GetAllRooms" message="tns:IBuildingService_GetAllRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuildingService/GetAllRoomsResponse" message="tns:IBuildingService_GetAllRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBuildingService" type="tns:IBuildingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateBuilding">
      <soap:operation soapAction="http://tempuri.org/IBuildingService/UpdateBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBuilding">
      <soap:operation soapAction="http://tempuri.org/IBuildingService/CreateBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBuildings">
      <soap:operation soapAction="http://tempuri.org/IBuildingService/GetAllBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRooms">
      <soap:operation soapAction="http://tempuri.org/IBuildingService/GetAllRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuildingService">
    <wsdl:port name="BasicHttpBinding_IBuildingService" binding="tns:BasicHttpBinding_IBuildingService">
      <soap:address location="http://localhost:8733/eSARService/BuildingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>