eSAR/eSAR/Service References/TeacherServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeacherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eSARService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeacherService_CreateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_CreateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_UpdateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetAllTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeachers" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetAllTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetFilteredTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredTeachers" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetFilteredTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GetTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DeactivateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateTeacher" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_DeactivateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GenerateTeacherId_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTeacherId" />
  </wsdl:message>
  <wsdl:message name="ITeacherService_GenerateTeacherId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTeacherIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeacherService">
    <wsdl:operation name="CreateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/CreateTeacher" message="tns:ITeacherService_CreateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/CreateTeacherResponse" message="tns:ITeacherService_CreateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacher" message="tns:ITeacherService_UpdateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/UpdateTeacherResponse" message="tns:ITeacherService_UpdateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetAllTeachers" message="tns:ITeacherService_GetAllTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetAllTeachersResponse" message="tns:ITeacherService_GetAllTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetFilteredTeachers" message="tns:ITeacherService_GetFilteredTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetFilteredTeachersResponse" message="tns:ITeacherService_GetFilteredTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GetTeacher" message="tns:ITeacherService_GetTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GetTeacherResponse" message="tns:ITeacherService_GetTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/DeactivateTeacher" message="tns:ITeacherService_DeactivateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/DeactivateTeacherResponse" message="tns:ITeacherService_DeactivateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateTeacherId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeacherService/GenerateTeacherId" message="tns:ITeacherService_GenerateTeacherId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeacherService/GenerateTeacherIdResponse" message="tns:ITeacherService_GenerateTeacherId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeacherService" type="tns:ITeacherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/CreateTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/UpdateTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeachers">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetAllTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredTeachers">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetFilteredTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GetTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateTeacher">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/DeactivateTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateTeacherId">
      <soap:operation soapAction="http://tempuri.org/ITeacherService/GenerateTeacherId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherService">
    <wsdl:port name="BasicHttpBinding_ITeacherService" binding="tns:BasicHttpBinding_ITeacherService">
      <soap:address location="http://localhost:8733/eSARService/TeacherService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>